<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading"></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="custom-media d-block">
          <div class="img mb-4">
            <a href="single.html"><img src="assets/images/logo_2.png" alt="Image" class="img-fluid"></a>
          </div>
          <div class="text">
            
            <h3>{{teamInput.Name}}</h3>
            <p>{{teamInput.owner}}</p>
            <p>{{teamInput.foundation}}</p>
            
          </div>
        </div>
      </div>
      

     
      
      
      
    
    </div>

    
  </div>
